@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/dark-clouds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
   /* background-color:rgb(109, 109, 227); */
 /* backdrop-filter: blur(10px); */
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}