@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;

}

body {
    background: black;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}